body {
    background-color: rgb(234, 238, 241);
    text-align: center;
    align-items: center;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    background-color: rgb(217, 230, 247);
    padding: 3px;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 400px;
    background-color: rgba(198, 198, 211, 0.616);
}